.layout {
    display: flex;
    flex-direction: column;
}
.layout > .pageTitle {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.layout .library {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 20px;
    align-items: center;
}

.library .addBook {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    width: max-content;
}
.library .addBook > #bookForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bookForm > label {
    padding: 10px;
    display: flex;
    align-self: flex-end;
    gap: 10px;
}

.layout .books {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.book {
    border: 2px solid black;
    padding: 10px;
}