@font-face {
    font-family: FuzzyBubbles;
    src: url(static/Fuzzy_Bubbles/FuzzyBubbles-Regular.ttf);
}
html {
    font-family: FuzzyBubbles;
}

.header, .header > button, .footer {
    font-weight: 600;
    color: #eff1f3;
}
.header, .footer {
    background-color: #d77a61;
}
.layout {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
}
.header > button {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 50px;
    font-size: 20px;
    background-color: #223843;
    font-family: FuzzyBubbles;
}
.header > button:active {
    width: 130px;
}
.layout .addBook {
    align-self: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    border: 2px solid black;
    padding: 20px;
    width: max-content;
    height: max-content;
    background-color: #223843;
    color: #eff1f3;
}
.addBook > #bookForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bookForm > label {
    padding: 10px;
    gap: 10px;
}
#bookForm input {
    text-align: center;
    border: none;
    border-radius: 8px;
}
#bookForm input, #bookForm button {
    background-color: #eff1f3;
    color: #223843;
}
#bookForm button {
    width: 60px;
    height: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: FuzzyBubbles;
}
#bookForm button:active {
    width: 70px;
}

.layout .books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}
.book {
    background-color: #eff1f3;
    color: #223843;
    border: 2px solid #d8b4a0;
    padding: 10px;
    
}
.book button {
    background-color: #d8b4a0;
    color: #223843;
    border: none;
    border-radius: 8px;
    height: 20px;
    gap: 10px;
}
.readStatus {
    padding-bottom: 10px;
    align-items: center;
}
#readCheckbox {
    border: 1px solid #223843;
    gap: 10px;
}
#readCheckbox:checked {
    background-color: #223843;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}